all:
  vars:
{% for group in groups %}
    {{ group }}: {{ not group in groups | to_yaml }}
{% endfor %}

{% for group in groups %}
{% if group != 'all' %}
{{ group }}:
  vars:
    {{ group }}: True
{% endif %}
{% endfor %}
