all:
  vars:
{% for group in groups %}
    {{ group }}: {{ group in groups | to_yaml }}
{% endfor %}

{% for group in groups %}
{% if groups[group] %}
{{ group }}:
  vars:
    {{ group }}: True
{% endif %}
{% endfor %}
